server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/jobdb
    username: jobuser
    password: jobpass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate

  data:
    redis:
      host: localhost
      port: 6379

