spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/jobdb
    username: jobuser
    password: jobpass

  jpa:
    hibernate:
      ddl-auto: update

  data:
    redis:
      host: localhost
      port: 6379
